{% include "masterheader.html" %}
<div>
{% if session.advisorloggedin %}
<div class="panel panel-default">
<div class="panel-heading">Current Student</div>
<div class="panel-body">
<br/>
<div class="well well-sm">
{% if qlist[0] %}
<form role="form" class="form form-default">
<div class="form-group">
<label>Name</label>
<input class="form-control" value='{{qlist[0].full_name}}' readonly>
</div>
<div class="form-group">
<label>ID</label>
<input class="form-control" value='{{qlist[0].uta_id}}' readonly>
</div>
</form>
{% endif %}
</div>
<a role="button" href="/nextStudent" class="btn btn-primary">Done. Call Next &raquo;</a>
</div>
</div>
<a role="button" href="/stopAdvising" class="btn btn-danger btn-block">Stop your advising hours &raquo;</a>
{% else %}
{% if alert=="empty" %}
<script>
$(document).ready(function(){
	$("#myModal").modal();
});
</script>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">No students</h4>
      </div>
      <div class="modal-body">
        <p>The queue is empty for now. Maybe that's Awesome!</p>
        <!--<p>Make sure your sound is on, we'll play a sound to notify you of someone popping up in the list!</p>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %} 
<script>
$(document).ready(function(){
	$('[data-toggle="popover"]').popover();
	$('[data-toggle="tooltip"]').tooltip(); 
	$('[data-toggle="popover"]').click(function(event){
		event.preventDefault();
	});
});
</script>
<h2>Welcome {{session.username}}! <a href="/doLogout" class="btn btn-danger" role="button">Logout</a></h2>
<div class="well well-sm" style="text-align:center">
<h4>
<div class="label label-info">Total in Queue: {{qlist|length}}</div>
<div class="label label-warning">Urgency indicated in: {{qnourgent}}</div>
</h4>
</div>
<a role="button" href="/startAdvising" class="btn btn-success btn-block">Start your advising hours &raquo;</a>
<br/>
<div class="well well-lg">
<p>Current Queue: </p>

<table id="displayTable" class="table table-hover">
<thead>
<tr><th>#</th><th>Name</th><th>ID</th><th>Comment</th><th style='text-align: center'>Action</th></tr>
</thead>
<tbody id='displayTableBody'>
{% set i = 1 %}
{% for student in qlist %}
{% if student.urgent == True %}
<tr id='tablerow{{ i }}' class="danger"><td>{{ i }}</td><td>{{ student.full_name }}</td><td>{{ student.uta_id }}</td><td>{{student.comment}}</td><td style='text-align:center'>
<a href='#' data-title="Move" data-placement="top" class="" data-toggle="popover" data-html='true' 
data-content="
<form action='/moveapi' method='post' class='form-inline' role='form'>
<input type='hidden' value='to' name='type'/>
<input type='hidden' name='uta_id' value='{{ student.uta_id }}'/>
<div class='form-group'>
<label for='moveto'>To #:</label>
<input type='text' class='form-control' size='4' placeholder='eg. 5'id='moveto' name='moveto'/>
</div>
<button class='btn btn-default'><span class='glyphicon glyphicon-flash'></span></button>
</form>
<hr/>
<form action='/moveapi' method='post' class='form-inline' role='form'>
<input type='hidden' name='type' value='up'/>
<input type='hidden' name='uta_id' value='{{ student.uta_id }}'/>
<div class='form-group'>
<label for='moveup'>Up ^:</label>
<input type='text' class='form-control' size='4' placeholder='eg. 5'id='moveup' name='moveup'/>
</div>
<button class='btn btn-default'><span class='glyphicon glyphicon-flash'></span></button>
</form>">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </a></td></tr>
{% else %}
<tr id='tablerow{{ i }}' class='active'><td>{{ i }}</td><td>{{ student.full_name }}</td><td>{{ student.uta_id }}</td><td>{{student.comment}}</td><td></td></tr>
{% endif %}
{% set i = i + 1 %}
{% endfor %}
</tbody>
</table>
<!--
<table id="displayTable" class="table table-striped table-hover">
<thead>
<tr><th>#</th><th>Name</th><th>ID</th></tr>
</thead>
<tbody id='displayTableBody'>
</tbody>
</table>
<script>
$(document).ready(loadDoc('/dump',myFunction));
////////////////////////////
window.setInterval(
function()
{
console.log("load doc called");
loadDoc('/dump', myFunction);

}
,5000);
/////////////////////////////
var isQEmpty=0;
function loadDoc(url, cfunc) {
  var xhttp;
  if($('#displayTableBody').is(':empty'))
  {
  	isQEmpty=1;
  }
  xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200)
    {
      console.log("myFunction called")
      cfunc(xhttp);
    }
    else
    {
    console.log("problem occured");
    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();
  console.log("ajax request sent");
}
function myFunction(xhttp) {
	var qjson=xhttp.responseText;
	try
	{
		console.log('got response');
		var qjsonobj=JSON.parse(qjson);
		console.log('ghoda');
		$('#displayTableBody').empty();
		console.log('gadha');
		var i=0;
		while(i<qjsonobj.length)
		{
			if(isQEmpty==1)
			{
				isQEmpty=0;
				setTimeout(function(){
				$('<audio id="chatAudio"><source src="/static/notification-solemn.mp3" type="audio/mpeg"></audio>').appendTo('body');
				$('#chatAudio')[0].play();
				},1);
				console.log('blag');
			}
			$('#displayTableBody').append('<tr><td>'+qjsonobj[i].sno+'</td><td>'+qjsonobj[i].full_name+'</td><td>'+qjsonobj[i].uta_id+'</td></tr>');
			i++;
		}
	}catch(ex)
	{
		console.error(ex);
	}
}
</script>
-->
</div>
{% endif %}
</div>
{% include "masterfooter.html" %}