 {% include "masterheader.html" %}
<!--<meta http-equiv="refresh" content="3; URL=http://ec2-54-191-123-61.us-west-2.compute.amazonaws.com:5000/displayScreen">-->
<table id="displayTable" class="table table-striped table-hover">
<thead>
<tr><th>#</th><th>Name</th><th>ID</th></tr>
</thead>
<tbody id='displayTableBody'>
<!--{% set i = 1 %}
{% for student in qlist %}
<tr><td>{{ i }}</td><td>{{ student.full_name }}</td><td>{{ student.uta_id }}</td></tr>
{% set i = i + 1 %}
{% endfor %}
-->
<!--<script>
{% set i = 1 %}
{% for student in qlist %}
$('#displayTable').append('<tr><td>{{ i }}</td><td>{{ student.full_name }}</td><td>{{ student.uta_id }}</td></tr>')
{% set i = i + 1 %}
{% endfor %}
</script>
-->
</tbody>
</table>
<script>
$(document).ready(loadDoc('/dump',myFunction));
window.setInterval(function(){
loadDoc('/dump', myFunction);
},5000);
function loadDoc(url, cfunc) {
  var xhttp;
  xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      cfunc(xhttp);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();
}
function myFunction(xhttp) {
	var qjson=xhttp.responseText;
	try
	{
		var qjsonobj=JSON.parse(qjson);
		var i=0;
		$('#displayTableBody').empty();
		while(i<qjsonobj.length)
		{
			$('#displayTableBody').append('<tr><td>'+qjsonobj[i].sno+'</td><td>'+qjsonobj[i].full_name+'</td><td>'+qjsonobj[i].uta_id+'</td></tr>');
			i++;
		}
	}catch(ex)
	{
		console.error(ex);
	}
}
</script>
{% include "masterfooter.html" %}
