{%include "masterheader.html" %}
{% if alert=="success" %}
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> You have been placed in the Queue. 
  </div>
{% endif %} 
{% if alert=="problem-unverified" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Whoa!</strong> You're on the queue, but we can't send SMS to your number yet. (Twilio Trial A/C - verify number required)
  </div>
{% endif %} 
<div class="container marketing" style="">
<div class="row">
        <div class="col-lg-4">
          <h2>Get in the Queue</h2>
          <p>You can only get in the queue after specified time: say only after 7:00 AM until hours end.</p>
          <p><a class="btn btn-default" href="/register" role="button">Get in line &raquo;</a></p>
		</div>
        <div class="col-lg-4">
          <h2>Display Screen</h2>
          <p>View the Display Screen that is supposed to be put on in the waiting area.</p>
          <p><a class="btn btn-default" href="/displayScreen" role="button">Open Display Screen &raquo;</a></p>
		</div>
        <div class="col-lg-4">
          <h2>Advisor Screen</h2>
          <p>View the Advisor Screen which is supposed to be the screen advisor sees during his office hours.</p>
          <p><a class="btn btn-default" href="/advisorScreen" role="button">Open Advisor Screen &raquo;</a></p>
		</div>
</div>
</div>
{%include "masterfooter.html" %}
