{% include 'masterheader.html' %}
{% if msg=="loginFailed" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Login Failed!</strong> Your username and password combination didn't match.
  </div>
{% endif %} 
<form class="form-signin" method="post" action="/doLogin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" value='test' class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" value='test' class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
{% include 'masterfooter.html' %}
