<hr/>
Research, design and development by <mark>Pranay Shirolkar</mark>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap-formhelpers-phone.js"></script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/additional-methods.js"></script>
<script src="/static/js/additional-methods.min.js"></script>
</body>
</html>