{% include 'masterheader.html' %}
<h1>Get in Line</h1>
{% if alert=="bad-id" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Invalid ID.</strong> Try again with a valid ID number.
  </div>
{% endif %} 
{% if alert=="bad-phone-number" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Invalid Cell Phone Number.</strong> Are you sure?
  </div>
{% endif %} 
{% if alert=="double-id" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>You are already in the queue.</strong>
  </div>
{% endif %}
{% if alert=="required" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error</strong> Please check that you have filled all the required fields.
  </div>
{% endif %}  
{% if alert=="unknown" %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error - TwEx</strong> We encountered an error.
  </div>
{% endif %} 
<form action="/register" method="post" name='registerForm' role="form" id='registerForm'>
<div class="form-group">
<label for="full_name">Full Name:</label>
<input type="text" class="form-control" name="full_name" id="full_name">
</div>
<div class="form-group">
<label for="uta_id">10 Digit ID:</label>
<input type="text" class="form-control input-medium bfh-phone" data-format="dddddddddd" id="uta_id" name="uta_id">
</div>
<div class="form-group">
<label for="cell_number">Cell Phone:</label>
<input data-format="+1 (ddd) ddd-dddd" type="text" class="form-control input-medium bfh-phone" id="cell_number" name="cell_number">
</div>
<div class="form-group">
<label for='urgent'>Urgent Advising:</label>
<div class="checkbox">
<label><input type='checkbox' id='urgent' value='1' name='urgent'/> Yes, please request an urgent advising.</label>
</div>
</div>
<div class="form-group">
<label for="comment">Reason:</label>
<input type="text" class="form-control" id='comment' name='comment' placeholder='(optional)'/>
</div>
<div class="form-group">
</div>
<button type="submit" class="btn btn-default">Get in line!</button>
</form>
<script>
$(document).ready(function()
{
	$('#registerForm').validate({
	rules: {
		full_name: {
			required: true,
		},
		uta_id: {
			required: true,
			minlength: 10
		},
		cell_number: {
			required: true,
			phoneUS: true
		},
		comment: {
			required: '#urgent:checked'
		}
	}
	});
	$('#registerForm input:checkbox').change(function(){
	var $this=$(this);
	if($this.is(':checked')){
		$('#comment').attr('placeholder',"(required)")
	}
	else{
		$('#comment').attr('placeholder',"(optional)")
	}
	});
});
</script>
{% include 'masterfooter.html' %}
